In [1]:
import pandas as pd

In [2]:
pres_path = 'data/1976-2016-president.csv'
house_path = 'data/1976-2018-house.csv'
senate_path = 'data/1976-2018-senate.csv'

In [3]:
df_pres = pd.read_csv(pres_path, encoding = "ISO-8859-1", header=0)
df_house = pd.read_csv(house_path, encoding = "ISO-8859-1", header=0)
df_senate = pd.read_csv(senate_path, encoding = "ISO-8859-1", header=0)

In [20]:
OUTPUT = [
    {
        "year": 2016,
        "state": "AL",
        "candidate": "Bob",
        "party": "republican",
        "candidatevotes": 450,
        "totalvotes": 1000,
        "vote_percent": 0.45,
    },
    {
        "year": 2016,
        "state": "AL",
        "candidate": "Alice",
        "party": "democrat",
        "candidatevotes": 400,
        "totalvotes": 1000,
        "vote_percent": 0.4,
    },
    {
        "year": 2016,
        "state": "AL",
        "candidate": "Charlie",
        "party": "libertarian",
        "candidatevotes": 140,
        "totalvotes": 1000,
        "vote_percent": 0.14,
    },
    {
        "year": 2016,
        "state": "AL",
        "candidate": "David",
        "party": "rogue",
        "candidatevotes": 10,
        "totalvotes": 1000,
        "vote_percent": 0.01,
    },
    {
        "year": 2016,
        "state": "NJ",
        "candidate": "Bob",
        "party": "republican",
        "candidatevotes": 375,
        "totalvotes": 1000,
        "vote_percent": 0.375,
    },
    {
        "year": 2016,
        "state": "NJ",
        "candidate": "Alice",
        "party": "democrat",
        "candidatevotes": 600,
        "totalvotes": 1000,
        "vote_percent": 0.6,
    },
    {
        "year": 2016,
        "state": "NJ",
        "candidate": "Dana",
        "party": "green",
        "candidatevotes": 25,
        "totalvotes": 1000,
        "vote_percent": 0.025,
    },
    {
        "year": 2012,
        "state": "AL",
        "candidate": "Bob",
        "party": "republican",
        "candidatevotes": 400,
        "totalvotes": 1000,
        "vote_percent": 0.40,
    },
    {
        "year": 2012,
        "state": "AL",
        "candidate": "Alice",
        "party": "democrat",
        "candidatevotes": 550,
        "totalvotes": 1000,
        "vote_percent": 0.55,
    },
    {
        "year": 2012,
        "state": "AL",
        "candidate": "Charlie",
        "party": "libertarian",
        "candidatevotes": 50,
        "totalvotes": 1000,
        "vote_percent": 0.05,
    },
    {
        "year": 2012,
        "state": "NJ",
        "candidate": "Bob",
        "party": "republican",
        "candidatevotes": 400,
        "totalvotes": 1000,
        "vote_percent": 0.4,
    },
    {
        "year": 2012,
        "state": "NJ",
        "candidate": "Alice",
        "party": "democrat",
        "candidatevotes": 525,
        "totalvotes": 1000,
        "vote_percent": 0.525,
    },
    {
        "year": 2012,
        "state": "NJ",
        "candidate": "Charlie",
        "party": "libertarian",
        "candidatevotes": 50,
        "totalvotes": 1000,
        "vote_percent": 0.05,
    },
    {
        "year": 2012,
        "state": "NJ",
        "candidate": "Daphne",
        "party": "peace",
        "candidatevotes": 25,
        "totalvotes": 1000,
        "vote_percent": 0.025,
    },
]

In [22]:
df = pd.DataFrame(OUTPUT)
df.groupby(['year', 'state']).sum()

            candidatevotes  totalvotes  vote_percent
year state
2012 AL               1000        3000           1.0
     NJ               1000        4000           1.0
2016 AL               1000        4000           1.0
     NJ               1000        3000           1.0

In [45]:
def show_value_counts(df):
    for col in df.columns:
        unique_vals = len(df[col].unique())
        if 1 < unique_vals < 20:
            print(col)
            print(f"{unique_vals} unique values")
            print(df[col].value_counts())
            print(" ")

In [46]:
show_value_counts(df_pres)

year
11 unique values
1992    370
2000    369
1996    368
1980    364
2008    351
2016    345
1976    332
1984    323
2004    317
2012    316
1988    285
Name: year, dtype: int64

writein
2 unique values
False    3493
True      247
Name: writein, dtype: int64

In [47]:
show_value_counts(df_senate)

stage
2 unique values
gen    3412
pre       9
Name: stage, dtype: int64

special
2 unique values
False    3315
True      106
Name: special, dtype: int64

writein
2 unique values
False    2992
True      429
Name: writein, dtype: int64

unofficial
2 unique values
False    3418
True        3
Name: unofficial, dtype: int64

version
3 unique values
20171011.0    3268
20190110.0     152
Name: version, dtype: int64

In [48]:
show_value_counts(df_house)

stage
3 unique values
gen    29546
pri       60
Name: stage, dtype: int64

runoff
3 unique values
False    20972
True         8
Name: runoff, dtype: int64

special
2 unique values
False    29546
True        90
Name: special, dtype: int64

writein
2 unique values
False    27473
True      2163
Name: writein, dtype: int64

unofficial
2 unique values
False    29597
True        39
Name: unofficial, dtype: int64

fusion_ticket
2 unique values
False    27268
True      2368
Name: fusion_ticket, dtype: int64

In [43]:
df_house['runoff'].value_counts()

False    20972
True         8
Name: runoff, dtype: int64

In [13]:
df_senate['stage'].value_counts()

gen    3412
pre       9
Name: stage, dtype: int64